[Desktop Entry]
Actions=new-empty-window
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined.
Exec=codium --no-sandbox --ozone-platform=wayland --ozone-platform-hint=auto --enable-features=UseOzonePlatform,WaylandWindowDecorations %F
GenericName=Text Editor
Icon=vscodium
Keywords=vscode
MimeType=text/plain;inode/directory
Name=VSCodium
StartupNotify=true
StartupWMClass=vscodium
Type=Application
Version=1.4

[Desktop Action new-empty-window]
Exec=codium --new-window %F
Icon=vscodium
Name=New Empty Window
