set $mod Mod4
font pango:monospace 12
exec --no-startup-id dex --autostart --environment i3
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock
exec --no-startup-id nm-applet

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec alacritty -o font.size=12

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h
# split in vertical orientation
bindsym $mod+v split v
# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle
# change container layout (stacked, tabbed, toggle split)
bindsym $mod+shift+s layout stacking
bindsym $mod+shift+w layout tabbed
bindsym $mod+shift+p layout toggle split
# toggle tiling / floating
bindsym $mod+space floating toggle
# change focus between tiling / floating windows
bindsym $mod+shift+space focus mode_toggle
# focus the parent container
bindsym $mod+a focus parent

# Define names for default workspaces for which we configure key bindings later on.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec i3-msg exit

# resize window (you can also use the mouse for that)
mode "resize" {
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt
        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

# ------------------------- Appearance -------------------------

# gaps
gaps inner 11px
gaps outer 11px
default_floating_border none

### Install ttf-nerdfont-symbols to get the symbols to work
exec_always ~/.config/polybar/launch.sh --forest
exec_always nitrogen --restore

# class                 border  backgr. text    indicator child_border
client.focused          #695B7C #C396FF #000000 #695B7C   #695B7C
client.focused_inactive #333333 #9F89BC #ffffff #484e50   #5f676a
client.unfocused        #9F89BC #9F89BC #C9C8CC #292d2e   #222222
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

# ------------------------- Binds ------------------------------

bindsym $mod+w exec brave
bindsym $mod+n exec --no-startup-id playerctl next
bindsym $mod+Shift+n exec --no-startup-id playerctl previous
bindsym $mod+b exec --no-startup-id playerctl play-pause
bindsym $mod+m exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym $mod+Shift+m exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym $mod+0 exec --no-startup-id rofi -show rofi-sound -modi "rofi-sound:~/.config/i3/rofi-sound-output-chooser"
bindsym $mod+d exec --no-startup-id ulauncher-toggle 
bindsym $mod+q kill
bindsym $mod+Shift+q exec --no-startup-id xkill
bindsym $mod+y exec i3lock
bindsym $mod+c exec flameshot gui
bindsym $mod+e exec nemo

#ssh
exec --no-startup-id /bin/bash eval $(ssh-agent)
#wallpaper

#top bar of windows
#default_border none


{{- if ne .chezmoi.hostname "raiw" }}
exec_always --no-startup-id picom --config ~/.config/picom.conf
{{- end }}
exec_always --no-startup-id /bin/easyeffects --gapplication-service
exec_always --no-startup-id /usr/bin/ulauncher

# ---------------------device specific --------------------------

{{- if eq .chezmoi.hostname "instability" }}
bindsym $mod+i exec light -A 5
bindsym $mod+Shift+i exec light -U 5
exec_always autorandr -c
{{- end }}

{{- if eq .chezmoi.hostname "immortality" }}
# nothing yet but possibly xrandr
{{- end }}
#
