# Edit this configuration file to define what should be installed on
# your system.  Help is available in the configuration.nix(5) man page
# and in the NixOS manual (accessible by running ‘nixos-help’).
# blah
{ config, pkgs, lib, ... }:

{
  # Progams ??
  programs.firefox.enable = true;
  programs.hyprland.enable = true;

  
  programs.zsh.enable = true;
  programs.light.enable = true;
  virtualisation.libvirtd.enable = true;
  programs.virt-manager.enable = true;
  
  # Allow unfree packages
  nixpkgs.config.allowUnfree = true;

  # List packages installed in system profile. To search, run:
  # $ nix search wget

  
  environment.systemPackages = with pkgs; [
    neovim
    alacritty
    terminator
    cpio
    git
    chezmoi
    kitty
    cool-retro-term
    waybar
    rofi-wayland
    ulauncher
    btop
    zsh
    oh-my-zsh
    fzf
    cava
    cavalier
    lxqt.lxqt-policykit
    waypaper
    swaybg
    pavucontrol
    playerctl
    chromium
    scrcpy
    bat
    syncthing
    obsidian
    rofi-obsidian
    light
    nixos-generators
    vesktop
    wdisplays
    nwg-displays
    nwg-look
    cliphist
    bluez
    blueman
    easyeffects
    jamesdsp-pulse
    rofi-bluetooth
    docker-compose
    hyprcursor
    pulseaudioFull
    nvtopPackages.full
    neofetch
    xdg-desktop-portal-hyprland
    xdg-desktop-portal
    xdg-desktop-portal-wlr
    grim
    obs-studio
    vlc
    upower
    wireguard-tools
    cmatrix
    libreoffice-qt6-still
    kdePackages.qtwayland
    kdePackages.qtsvg
    kdePackages.kio-fuse
    kdePackages.kio-extras
    ntfs3g
    exfat
    dracula-theme
    xfce.xfconf
    ## screenshots:
    grim
    swappy
    slurp
    wl-clipboard
    jq
    yq
    xclip
    clipnotify
    vscodium
    nwg-look # set cursor to bibata there aswell
    usbutils
    yubikey-manager
    sshpass
    hyprlock
    hyprcursor
    spotify
    tree
    ipcalc
    virt-viewer
    home-manager
    pipx
    zed-editor
    nixd
    sops
  ];

 
  # yubikey:
  services.pcscd.enable = true;
  users.users.phonkd.packages = with pkgs; [
    bibata-cursors
    nordic
  ];
  # services

  ## file manager and usb mount

  services.udisks2.enable = true;
  services.gvfs.enable = true;
  services.tumbler.enable = true; # Thumbnail support for images
  services.devmon.enable = true; 
  #wireguard need this:
  services.resolved.enable = true;
  programs.xfconf.enable = true;
  programs.thunar.enable = true;
  programs.thunar.plugins = with pkgs.xfce; [
    thunar-archive-plugin
    thunar-volman
  ];




  services.upower.enable = true;
  
  programs.regreet.enable = true; 
  services.syncthing = {
    enable = true;
    user = "phonkd";
    dataDir = "/home/phonkd/";
    configDir = "/home/phonkd/.config/syncthing";
  }; 
  # power
  services.power-profiles-daemon.enable = true;
  # Flatpak
  services.flatpak.enable = true;
  
  # for lxqt-policykit enable polkit
  security.polkit.enable = true;
  
  # bluetooth stuff 
  hardware.bluetooth.enable = true;
  services.blueman.enable = true;
  # font
  fonts.packages = with pkgs; [
    (nerdfonts.override { fonts = [ "NerdFontsSymbolsOnly" ];
  })
  ];

  # def shell
  users.defaultUserShell = pkgs.zsh;
  
  # steam
  programs.steam.enable = true;
  
  virtualisation.docker.enable = true;
  # Groups:
  users.users.phonkd.extraGroups = [ "docker" "video" ];
  programs.ssh.startAgent = true; #ssh-agent
  # safe power on laptop:
  systemd.services.libvirtd.wantedBy = lib.mkForce [];
  systemd.services.libvirt-guests.wantedBy = lib.mkForce [];

  systemd.services.docker.wantedBy = lib.mkForce [];

  systemd.services.lxd.wantedBy = lib.mkForce [];
}
